
body {
    background: linear-gradient(LightGreen, DarkSeaGreen);
}

.Search {
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin: auto;
    text-align: center;
}

.textbox {
    font-size: large;
    padding:2px;
}

button {
    padding: 12px 24px;
    margin: 8px;
    border: 2px solid;
    border-radius: 8px;
    background-color: #e2e1e1;
    box-shadow: inset;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    color: #f5f5f5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}